@charset "utf-8";
/* CSS Document */

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Variables
# Typography
# Layout
# Utilities
# Header
# Footer
# Element
# Start
# Work
# Process
# The company
# Introduce
# Sign up
# Offer
# We can do
# Vesti bulum
# Contact

--------------------------------------------------------------*/

/*-------------------------# Variables------------------------*/

:root {
    --blue: #2f43a9;
    --gray: #555963;
    --white: #ffffff;
    --milk: #e3d8d4;
}

/*-------------------------# Typography------------------------*/

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Lora", Arial, Tahoma, sans-serif;
    font-size: 16px;
}

a:hover {
    text-decoration: none;
}

/*-------------------------# Layout------------------------*/

.section-inner-wrapper {
	max-width: 1220px;
	width: 86%;
	margin: auto;
}

/*-------------------------# Utilities------------------------*/

.text-primary {
    color: #2f43a9 !important;
}

.text-secondary {
    color: #7d7572 !important;
}

.text-white {
    color: #ffffff;
}

.bg-primary {
    background-color: #2f43a9 !important;
}

.no-line {
    color: transparent;
    border: 0;
    margin-top: 25px;
}

/*-------------------------# Header------------------------*/
header {
    z-index: 999;
}

#logo {
    max-height: 124px;
}

.nav-item {
    margin: 0 0.5rem;
    width: max-content;
}

.nav-link {
    color: #555963;
    font-size: 16px;
    width: fit-content;
}

.nav-item.active>.nav-link {
    color: #2f43a9 !important;
}

.nav-item:hover>.nav-link {
    color: #2f43a9 !important;
}

.buy-now {
    color: var(--blue) !important;
    font-weight: 700;
}

@media (max-width: 1200px) {
	nav .menu {
		width: 250px;
        background-color: #eae1dd;
    }
}

/*-------------------------# Footer------------------------*/

footer {
	background-color: var(--milk);
	padding: 27rem 24% 1rem;
	text-align: center;
}

@media (max-width: 992px) {
	footer {
        padding-top: 41rem;
    }
}

@media (max-width: 576px) {
	footer {
        padding-top: 49rem;
    }
}

@media (max-width: 380px) {
	footer {
        padding-top: 59rem;
    }
}


/*-------------------------# Element------------------------*/

.btn-primary {
    background-color: #2f43a9;
    color: #ffffff;
}

.btn-secondary {
    background-color: #f7f1ef;
    color: #2f43a9;
}

/*-------------------------# Start--------------------------*/

#start {
    background-image: url('../images/home_agency2_intro_bg.jpg');
    background-position: center top;
    padding-top: 340px;
    padding-bottom: 230px;
    background-repeat: no-repeat;
    background-size: cover;
}

.start__wrapper {
    font-size: 20px;
}

/*-------------------------# Work-----------------------*/

#work {
    background-image: url('../images/home_agency2_sectionbg1.png');
    background-repeat: no-repeat;
    background-position: center top;
    background-color: #f7f1ef;
}

.work__offer {
    padding: 40px 30px;
    background-color: var(--milk);
    top: -70px;
    position: relative;
}

.work__offer-question {
    font-size: 1.5rem;
    align-self: center;
}

.work__content {
    padding: 100px 0 120px;
}

.work__content-left {
    font-size: 2rem;
}

.work__content-right {
    font-size: 1rem;
}

/*-------------------------# Process----------------------*/

.process__content {
	padding-top: 3rem;
}

.process__slide {
	position: relative;
	margin-top: -5rem;
}

@media (max-width: 1200px) {
	.process__slide {
        position: relative;
        margin-top: 3rem;
    }
}

/*-------------------------# The company-----------------------*/

.the-company__img-1 {
	background-image: url('../images/home_agency2_image1.jpg');
	background-repeat: no-repeat;
	background-position: center center;
	height: 601px;
}

.the-company__img-2 {
	background-image: url('../images/home_agency2_image2.jpg');
	background-repeat: no-repeat;
	background-position: center center;
	height: 601px;
}

.the-company__slide {
	padding: 110px 0px 70px;
	background-color: rgb(70, 72, 97);
	background-image: url(../images/home_agency2_sectionbg2.png);
	background-repeat: no-repeat;
	background-position: right top;
	height: 601px;
}

.the-company__avatar {
	display: block;
	margin: 0 auto 20px;
	height: 85px;
	width: 85px;
	line-height: 0;
	overflow: hidden;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}

.the-company__avatar img {
	width: 85px;
	height: 85px;
}

.the-company__description {
	padding-top: 0;
	padding-bottom: 1px;
	background: none;
	text-align: center;
}

.the-company__description blockquote {
	margin: 0 69px 1rem;
	color: #ffffff;
}

.the-company__sign {
	text-align: center;
	color: #ffffff;
}

/*-------------------------# Introduce-------------------------*/

#introduce {
	background-color: #eee5e1;
}

.introduce__slogan {
	text-align: center;
	color: var(--blue);
	position: relative;
	margin-left: 7%;
	padding: 2rem 0;
	margin-top: -3rem;
	background-color: #fff;
}

.introduce__content {
	padding-top: 7rem;
}

.brand__logo img {
	max-width: 100%;
	height: auto;
    text-align: center;
}

.brand__title {
	color: #2f43a9;
	text-align: center;
}

.we-are {
	background-color: #f7f1ef;
	background-image: url(../images/home_agency2_sectionbg1.png);
	background-repeat: no-repeat;
	background-position: center;
	padding: 0 15% 20px;
	text-align: center;
}

.introduce__right img {
	width: 100%;
	height: auto;
}

.progress-bars__content ul {
	list-style-type: none;
	padding-left: 0px;
}

/*-------------------------# Sign up-----------------------*/

#sign-up {
	padding-top: 140px;
	padding-bottom: 140px;
	background-color: #797a8a;
	background-image: url(../images/home_agency2_sectionbg3.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	background-attachment: scroll;
	background-size: cover
}

.sign-up__img {
    background-image: url(../images/home_agency2_image4.jpg);
    background-size: cover;
    height: 501px;
}

.sign-up__box {
	background-color: rgb(247, 241, 239);
	background-image: url(../images/home_agency2_sectionbg1.png);
	background-repeat: no-repeat;
	background-position: center center;
	height: 501px;
	width: 100%;
	padding: 40px 10% 20px !important;
}

.sign-up__form {
	margin-top: 3rem;
}

.sign-up-form__submit {
	width: 100%;
}

/*-------------------------# Offer-----------------------*/

.offer__link {
	text-align: center;
	font-size: 1.5rem;
    padding: 4rem 0;
}

.offer__link--1 {
	background-color: #e3d8d4;
}

.offer__link--1:hover {
    background-color: #cec0ba;
}

.offer__link--2 {
	background-color: #ae9d96;
}

.offer__link--2:hover {
    background-color: #99837b;
}

.offer__link--3 {
	background-color: #464861;
}

.offer__link--3:hover {
    background-color: #353751;
}

/*-------------------------# We can do-----------------------*/

#we-can-do {
	padding-top: 140px;
	padding-bottom: 120px;
	background-color: #656883;
	background-image: url(../images/home_agency2_sectionbg2.png);
	background-repeat: no-repeat;
	background-position: center;
}

.we-can-do__title {
	width: 50%;
	margin-left: 25%;
	text-align: center;
}

@media (max-width: 992px) {
	.we-can-do__img {
        margin-bottom: 1rem;
    }
}


/*-------------------------# Vesti bulum-----------------------*/

.section-divider {
	width: 4rem;
	height: 4rem;
	background-color: #ffffff;
	transform: rotate( 45deg);
	margin: auto;
	margin-top: -2rem;
}

.vesti-bulum__content {
	padding: 12rem 0rem;
}

.vesti-bulum__left {
	color: var(--blue);
}

.vesti-bulum__item {
	text-align: center;
}

.vesti-bulum__canvas-border {
	width: 75%;
	height: auto;
}

.vesti-bulum__image {
	position: absolute;
	width: 30%;
	left: 34%;
	top: 18%;
}


@media (max-width: 992px) {
	.vesti-bulum__canvas-border {
        width: 20%;
        height: auto;
    }

    .vesti-bulum__image {
        position: absolute;
        width: 10%;
        left: 45%;
    }
}

/*-------------------------# Contact----------------------*/

#contact {
    background-color: #f7f1ef;
	background-image: url('../images/home_agency2_sectionbg4.jpg');
    padding: 120px 0px;
    background-repeat: no-repeat;
	background-position: center top;
	background-attachment: scroll;
	background-size: cover;
}

.send-message {
	text-align: center;
}

.contact-box {
    background-color: #eee5e1;
    position: absolute;
    margin-top: 50px;
    padding: 4rem;
    width: inherit;
}

.contact-box__social-network {
    font-size: 2rem;
    margin: 0rem 0.5rem;
}
